<app-admin-navbar></app-admin-navbar>

<main role="main" class="container-fluid">
  
  <div class="row">
    
    <app-admin-submenu-navbar></app-admin-submenu-navbar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<section id="wallItems">
		<h2>Photos</h2>

		<div class="">
			<a routerLink="/admin/item/add"><button type="button" class="btn btn-primary">Nouvel Item</button></a>
		</div>

		<div [innerHTML]="errorApi"></div>

		<div class="table-responsive">
		  <table class="table table-striped table-sm">
		    <thead>
		      <tr>
		        <th>#</th>
		        <th>Date</th>
		        <th>Nom</th>
		        <th>Description</th>
		        <th>Likes</th>
<!--				<th>Maj</th> -->
		        <th>Modify</th>
		        <th>Delete</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr *ngFor="let item of items">
		        <td>{{item.id}}</td>
		        <td>{{item.createdAt | date:"dd/MM/yyyy H:mm:ss" }}</td>
		        <td>{{item.file}}</td>
		        <td>{{item.description}}</td>
		        <td>{{item.nbLike}}</td>
<!--				<td>{{item.updatedAt | date:"dd/MM/yyyy H:mm:ss" }}</td>-->
		        <td><a routerLink="/admin/item/{{item.id}}">Update</a></td>
				  <td><button type="button" class="btn btn-danger" (click)="deleteItem(item)" >X</button></td>
		      </tr>
		    </tbody>
		  </table>
		</div>

		<ul class="nav nav-pills">
			<li class="nav-item" *ngFor="let p of pages; let i=index">
				<a class="nav-link" href="#"
					(click)="onPageChange(i,$event)"
					 [ngClass]="{'active':i==page}">{{i}}</a>
			</li>
		</ul>	

		</section>

</main>
</div>
</main>