<form *ngIf="comment" (ngSubmit)="onSubmit()" #commentForm="ngForm">
<p>Form values.... {{commentForm.value | json}}</p>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <div class="form-group">
          <label for="name">Auteur</label>
          <input type="text" class="form-control" id="name"
          		 pattern="^[a-zA-Z0-9 áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]{1,25}$" 
         		 required 
          		[(ngModel)]="comment.author" name="author" #author="ngModel">
  		   <!-- error -->
    		   <div [hidden]="author.valid || author.pristine"
  		       class="card-panel red accent-1">
  		       Le nom de l'autheur est requis (1-25).
    		  </div>
       </div>

        <div class="form-group">
          <label for="commentary">Commentaire</label>
          <textarea class="form-control" id="commentary"
               required
                 [(ngModel)]="comment.comment" name="commentary"
                 #commentary="ngModel">
          </textarea>
             <!-- error -->
          <div [hidden]="commentary.valid || commentary.pristine"
           class="card-panel red accent-1">
           Le commentaire est requis.
          </div>
        </div>

        <div class="form-group">
          <label for="isApproved">Approuvé</label>
          <input type="text" class="form-control" id="isApproved"
          		 required
                 [(ngModel)]="comment.isApproved" name="isApproved"
                 #isApproved="ngModel">
              <!-- error -->
    		   <div [hidden]="isApproved.valid || isApproved.pristine"
    		       class="card-panel red accent-1">
    		       Le status du commentaire est requis.
    		  </div>
        </div>

        <div class="form-group">
          <label for="createdAt">Date</label>
          todo pipe? date:"dd/MM/yyyy hh:mm:ss"
          <input type="text" class="form-control" id="createdAt" 
              required
              [(ngModel)]="comment.createdAt " name="createdAt" #createdAt="ngModel">
          <!-- error -->
           <div [hidden]="createdAt.valid || createdAt.pristine"
               class="card-panel red accent-1">
               La date du commentaire est requise.
          </div>
        </div>

        <div class="divider"></div>
        <div class="section center">
          <button type="submit"
                  class="waves-effect waves-light btn"
                  [disabled]="!commentForm.form.valid">
                  Valider</button>
        </div>

      </div>
    </div>
  </div>
</form>
<h3 *ngIf="!comment" class="center">Aucun commentaire à éditer...</h3>