<footer id="wallFooter" class="homeContainer">
    <div>
    	<img src="/assets/images/resources/GibeeCreationLogo.png">
    	<span class="copyright">&copy; 2018</span>
    	<a href="https://github.com/gbesset/"><img class="github" src="/assets/images/resources/icon-github.png" alt="github gbesset"></a>
    	<div class="appVersions">
			<img class="img-icon" src="/assets/images/resources/angular.png"><span class="version">{{versionAngular}}</span><br/>
			<img class="img-icon" src="/assets/images/resources/java.jpeg"><span class="version">{{versionJava}}</span>
    	</div>
    </div>
</footer>
