<div class="row">
	<div class="col-5">
		<img class= "card-logo" src="assets/images/resources/gbc-wall-demo.png">
	</div>
	<div class="col-6">
		<div class="card card-container">
			<img id="profile-img" class="profile-img-card" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
			    <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="email" autofocus>
			    <input type="password" id="password" class="form-control" placeholder="Password"  formControlName="password">
			   
			    <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="loginForm.invalid">Connexion</button>
			</form>
		</div>
	`</div>
</div>