.wall-container{
	margin-top:20px;
}

::ng-deep #displayError{
}

::ng-deep #displayError p{
	position:relative;;
	top:40%;
}
::ng-deep #displayError img{
	max-width:400px;
}
.DEBUG{
	#border: solid 2px red;
}

