    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">
              <span>Home</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="/wall">
              <span>Wall</span>
            </a>
          </li>
          <li class="nav-item">
              <span><br></span>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/admin">
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/items">
              <span data-feather="file"></span>
              Items
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/comments">
              <span data-feather="users"></span>
              Commentaires
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Stats
            </a>
          </li>
        </ul>

      </div>
    </nav>