<nav class="navbar navbar-expand-md navbar-light bg-wall fixed-top">
    <div class="navbar-header"> <!-- ????-->
      <a class="navbar-brand" routerLink="/home">
        Karen.guiom
      </a>
    </div>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/wall">Wall</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle  class="nav-link dropdown-toggle">Critère<span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">Photos/vidéos</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Commentaires</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Auteur</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another one</a></li>
            </ul>
          </li>
          <li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="rechercher..." aria-label="Search">
              <span class="input-group-btn">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
                </span>
              
            </form>
          </li>
          <li></li>
          <li class="admin nav-item active">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
      </ul>
	</div>
</nav>
