<nav class="navbar navbar-expand-md navbar-light bg-wall fixed-top">
    <div class="navbar-header"> <!-- ????-->
      <a class="navbar-brand" routerLink="/home">
        {{siteTitle}}
      </a>
    </div>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/wall">Wall</a>
          </li>
          <!--
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" r>
            <a class="nav-link" (click)="refresh()">Refresh</a>
          </li>
          <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmitForm()">
            <label for="searchCriteria">Critère</label>
            <select id="searchCriteria" formControlName="searchCriteria">
              <option value="item">Photos/Vidéos</option>
              <option value="comment">Commentaires</option>
              <option value="author">Auteur</option>
            </select>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle  class="nav-link dropdown-toggle">Critère<span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Photos/vidéos</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Commentaires</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Auteur</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another one</a></li>
              </ul>
            </li>
            
            <li>  
                <input class="form-control mr-sm-2" type="text" placeholder="rechercher..." aria-label="Search" formControlName="searchElement">
                <span class="input-group-btn">
                      <button class="btn btn-outline-primary my-2 my-sm-0" [disabled]="searchForm.invalid">Rechercher</button>
                </span>              
            </li>
          </form>

          <li></li>
          <li class="admin nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
      </ul>
	</div>
</nav>
