 
<home-navbar></home-navbar>

 <main role="main" class="container-fluid">
    
    <section id="wallHeader" class="container-fluid homeContainer">
    	<header>
	        <h1> {{siteTitle}} <span class="intro">{{siteDescription}}</span></h1>
	    </header>
   		
   		<article id="wallCarousel">
			<carousel>
		   	  <slide *ngFor = "let picture of carousel">
		     	<img src="{{picture.path}}{{picture.img}}" alt="{{picture.img}}" style="display: block; width: 100%;">
		     	<div class="carousel-caption d-none d-md-block">
		     	</div>
		  	  </slide>
			</carousel>
		</article>

		<footer>
			<a href="#wallNews" role= "button" class="btn btn-primary btn-wall">Voir les nouveautés</a>
		</footer>
	</section>

 	<section id="wallNews" class="container-fluid homeContainer homeContainer-withBG">
 		<header>
 			<h2>Les nouveautés</h2>
 			<span>Regardez si vous avez vu les derniers ajouts ci dessous</span>
 		</header>

    <div class="container center row">
   		 <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
            <header>
              <h3 class="card-title">Photos</h3>
            </header>
            <div class="card-body">
              <p class="card-text">Derniers clichés</p>
              <ul *ngFor="let p of pictures">
                <li>{{p.description}}</li>
              </ul>
            </div>
          </div>
      </article>

       <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
            <header>
              <h3 class="card-title">Videos</h3>
            </header>
            <div class="card-body">
              <p class="card-text">Dernières vidéos.</p>
             <ul *ngFor="let v of videos">
              <li>{{v.description}}</li>
            </ul>
            </div>
          </div>
      </article>

       <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
            <header>
              <h3 class="card-title">Commentaires</h3>
            </header>
            <div class="card-body">
              <p class="card-text">Derniers commentaires.</p>
              <ul *ngFor="let c of comments">
              <li>{{c.author}}: {{c.comment}}</li>
            </ul>
            </div>
          </div>
      </article>
    </div>

        <footer>
            <p>Déjà tout vu, mais envie de se rendre sur l'un des sites?</p>
            <a href="#wallPortfolio" role= "button" class="btn btn-primary btn-wall">Voir les différents sites</a>
        </footer>

	</section>

	 <section id="wallPortfolio" class="homeContainer">
        <header class="lowBottom">
            <h2>Nos sites</h2>
            <span>Pour accéder à nos différents sites de partage</span>
        </header>
           

       <div class="container center row">
         <article class="col-12 col-md-6 col-lg-4">
            <div class="card wallBox">
              <header>
                <h3 class="card-title"><a href="http://www.userName.wordpress.com">Blog</a></h3>
                <p>Récits de nos voyages, vacances,...</p>
              </header>
              <div class="card-body">
                <a href="http://www.userName.wordpress.com" class="image image-full">
                 <img src="/assets/images/resources/article_blog.jpg" alt="Blog" class="img-fluid"/>
               </a>
              </div>
            </div>
        </article>

        <article class="col-12 col-md-6 col-lg-4">
            <div class="card wallBox">
              <header>
                <h3 class="card-title"><a href="/wall/">Photos</a></h3>
                <p>Notre mur de photos.</p>
              </header>
              <div class="card-body">
               <a href="/wall/" class="image image-full">
                 <img src="/assets/images/resources/article_portfolio.png" alt="Photos" class="img-fluid"/>
                </a>
              </div>
            </div>
        </article>

        <article class="col-12 col-md-6 col-lg-4">
            <div class="card wallBox">
              <header>
                <h3 class="card-title"><a href="/wall/#video">Vidéos</a></h3>
                <p>Nos montages vidéos.</p>
              </header>
              <div class="card-body">
                <a href="/wall/#video" class="image image-full">
                 <img src="/assets/images/resources/article_video.jpg" alt="Vidéos" class="img-fluid"/>
                </a>
              </div>
            </div>
        </article>

        <article class="col-12 col-md-6 col-lg-4">
            <div class="card wallBox">
              <header>
                <h3 class="card-title"><a href="http://monSiteDePartage.fr">Partage de fichiers</a></h3>
                <p>Pour partager des fichiers.</p>
              </header>
              <div class="card-body">
                <a href="http://monSiteDePartage.fr" class="image image-full">
                  <img src="/assets/images/resources/article_nas.png" alt="Partage de fichiers" class="img-fluid"/>
                </a>
              </div>
            </div>
        </article>
      </div>

mettre un max-width...?

     </section>

     <footer id="wallFooter" class="homeContainer">
      	 <p>
            <img src="/assets/images/resources/GibeeCreationLogo.png">
            <span>&copy; 2018 GBCreation</span><span class="version">V 5.1</span>
         </p>
        <p class="float-right"><a href="#">Retour en haut</a></p>
     </footer>

</main>