 
<home-navbar></home-navbar>

 <main id="home" role="main" class="container-fluid">
    
    <section id="wallHeader" class="container-fluid homeContainer">
    	<header>
	        <h1> {{siteTitle}} <span class="intro">{{siteDescription}}</span></h1>
	    </header>
   		
   		<article id="wallCarousel">
			<carousel>
		   	  <slide *ngFor = "let picture of carousel">
		     	<img src="{{picture.path}}{{picture.img}}" alt="{{picture.img}}" style="display: block; width: 100%;">
		     	<div class="carousel-caption d-none d-md-block">
		     	</div>
		  	  </slide>
			</carousel>
		</article>

		<footer>
			<a href="#wallNews" role= "button" class="btn btn-primary btn-wall">Voir les nouveautés</a>
		</footer>
	</section>

 	<section id="wallNews" class="container-fluid homeContainer homeContainer-withBG">
 		<header>
 			<h2>Les nouveautés</h2>
 			<p class="msgNextSection">Regardez si vous avez vu les derniers ajouts ci dessous</p>
 		</header>

    <div class="center row">
   		 <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
              <h3 class="card-title">Photos</h3>
              <h6 class="card-subtitle mb-2 text-muted">Derniers clichés</h6>
              <ul class="rss" *ngFor="let p of pictures">
                  <li><span class="item"><a href="">{{p.description}}</a></span></li>
              </ul>
          </div>
      </article>

       <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
              <h3 class="card-title">Videos</h3>
                 <h6 class="card-subtitle mb-2 text-muted">Derniers montages</h6>
                 <ul class="rss" *ngFor="let v of videos">
                      <li><span class="item"><a href="">{{v.description}}</a></span></li>
                </ul>
          </div>
      </article>

       <article class="col-12 col-md-6 col-lg-4">
          <div class="card wallBox">
              <h3 class="card-title">Commentaires</h3>
                <h6 class="card-subtitle mb-2 text-muted">Derniers commentaires</h6>
                <ul class="rss" *ngFor="let c of comments">
                    <li><span class="author">{{c.author}}</span>: <span class="item"><a href="">{{c.comment}}</a></span></li>
              </ul>
          </div>
      </article>
    </div>

        <footer>
            <p class="msgNextSection">Déjà tout vu, mais envie de se rendre sur l'un des sites?</p>
            <a href="#wallPortfolio" role= "button" class="btn btn-primary btn-wall">Voir les différents sites</a>
        </footer>

	</section>

	 <section id="wallPortfolio" class="homeContainer">
        <header class="lowBottom">
            <h2>Nos sites</h2>
           <p class="msgNextSection">Pour accéder à nos différents sites de partage</p>
        </header>
           

       <div class="container center">
          <div class="row">
           <article class="col-12 col-md-6 col-lg-4">
              <div class="card wallBox">
                <header>
                  <h3 class="card-title"><a href="http://www.userName.wordpress.com">Blog</a></h3>
                  <p>Récits de nos voyages, vacances,...</p>
                </header>
                <div class="card-body">
                  <a href="http://www.userName.wordpress.com" class="image image-full">
                   <img src="/assets/images/resources/article_blog.jpg" alt="Blog" class="img-fluid"/>
                 </a>
                </div>
              </div>
          </article>

          <article class="col-12 col-md-6 col-lg-4">
              <div class="card wallBox">
                <header>
                  <h3 class="card-title"><a routerLink="/wall">Photos</a></h3>
                  <p>Notre mur de photos.</p>
                </header>
                <div class="card-body">
                 <a routerLink="/wall" class="image image-full">
                   <img src="/assets/images/resources/article_portfolio.png" alt="Photos" class="img-fluid"/>
                  </a>
                </div>
              </div>
          </article>

          <article class="col-12 col-md-6 col-lg-4">
              <div class="card wallBox">
                <header>
                  <h3 class="card-title"><a href="/wall/#video">Vidéos</a></h3>
                  <p>Nos montages vidéos.</p>
                </header>
                <div class="card-body">
                  <a href="/wall/#video" class="image image-full">
                   <img src="/assets/images/resources/article_video.jpg" alt="Vidéos" class="img-fluid"/>
                  </a>
                </div>
              </div>
          </article>

        </div>
        <div class="row rowAbove">
          <article class="col-12 col-md-6 col-lg-4">
              <div class="card wallBox">
                <header>
                  <h3 class="card-title"><a href="http://monSiteDePartage.fr">Partage de fichiers</a></h3>
                  <p>Pour partager des fichiers.</p>
                </header>
                <div class="card-body">
                  <a href="http://monSiteDePartage.fr" class="image image-full">
                    <img src="/assets/images/resources/article_nas.png" alt="Partage de fichiers" class="img-fluid"/>
                  </a>
                </div>
              </div>
          </article>
        </div>
    </div>
    <div>
        <p id="backOnTop" class="float-right"><a href="#"><img src="/assets/images/resources/top.png"></a></p>
    </div>
  </section>
</main>